@import url("https://fonts.googleapis.com/css?family=Inter:400,700");

:root {
    --black: rgba(0, 0, 0, 1);
    --stack: rgba(140, 140, 140, 1);
    --perano: rgba(160, 198, 253, 1);
    --black-haze: rgba(246, 246, 246, 1);
    --white: rgba(255, 255, 255, 1);

    --font-size-m: 24px;
    --font-size-1: 40px;
    --font-size-x1: 64px;

    --font-family-inter: "Inter";
}

article {
    background-color: var(--black-haze);
    display: flex;
    padding-top: 5%;
    width: 100%;
}


/* article h5, h6, a {
    width: 350px;
} */

.screen {
    align-items: center;
    background-color: var(--black-haze);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

/* .rectangle {
    background-color: var(--white);
    height: 48px;
    margin-right: 1px;
    width: 1453px;
}

.rectangle-8 {
    background-color: var(--white);
    height: 48px;
    margin-right: 1px;
    margin-top: 25px;
    width: 1453px;
} */

.overlap-group4 {
    align-items: center; 
    justify-content: center;
    background-color: var(--perano);
    display: flex;
    height: 165px;
    min-width: 1512px;
    padding: 56px 482px;
}

.title {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: 75px;
    font-weight: 700px;
    letter-spacing: 0;
    min-height: 51px;
    text-align: center;
    width: 548px;
    
}

.flex-row {
    align-items: flex-start;
    display: flex;
    margin-right: 1px;
    margin-top: 25px;
    min-width: 1453px;
}

#map {
    height: 426px;
    margin-left: 33px;
    width: 943px;
}

.overlap-group3 {
    align-items: flex-start;
    background: linear-gradient(135deg, rgb(43, 97, 151), rgba(38, 35, 35, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.50);
    border: 1px solid rgb(49, 67, 59);
    display: flex;
    flex-direction: column;
    min-height: 426px;
    padding: 34px 29px;
    width: 477px;
    border-radius: 32px;
}

.border-1px-stack {
    border-width: 1px;
    border-style: solid;
    border-color: var(--stack);
}

.inter-normal-stack-24px {
    color: var(--stack);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.overlap-group1 {
    align-items: flex-end;
    background-color: var(--black-haze);
    display: flex;
    height: 71px;
    margin-top: 30px;
    min-width: 409px;
    padding: 11px 20px;
}

.choose-a-category {
    letter-spacing: 0;
    min-height: 37px;
    width: 265px;
}

.overlap-group {
    align-items: flex-end;
    display: flex;
    margin-bottom: 25px;
 }

.enter-cityzip-code {
    letter-spacing: 0;
    min-height: 37px;
    width: 265px;
 }

.search-for-events {
    align-self: flex-end;
    /* color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-1);
    font-weight: 700; */
    letter-spacing: 0;
    margin-right: 27px;
    margin-bottom: 20px;
    min-height: 67px;
    text-align: center;
    width: 378px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

.overlap-group2 {
    align-items: flex-start;
    border-radius: 6px;
    display: flex;
    margin-top: 35px;
   
}

.search {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    letter-spacing: 0;
    min-height: 29px;
    border-radius: 5px;
}

.search:hover {
    box-shadow: inset 0 0 20px darkblue;
    background-color: yellow;
}

.overlap-group1 {
    align-items: flex-end;
    background-color: var(--black-haze);
    display: flex;
    height: 71px;
    margin-top: 30px;
    min-width: 409px;
    padding: 11px 20px;
}

.dropdown {
    margin-top: 20px;
}
